/*===============
BUTTON
==================*/

.button {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  color: $white-color;
  background-color: $primary-color;
  margin: 15px 0px 0px;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 5px;
  transition: all 150ms linear 0s;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}
